{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- unless section.settings.enable_quick_add == false -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}



{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} isolate gradient">
  <div class="collection section-{{ section.id }}-padding">
    <div class="collection__title title-wrapper title-wrapper--no-top-margin page-width">
      {%- if section.settings.title != blank -%}
        <h2 class="title inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" style="text-align: {{ section.settings.text_alignment }}">
          {{ section.settings.title | escape }}
        </h2>
      {%- endif -%}
    </div>

    {%- liquid
      assign collection = collections[section.settings.collection]
      assign products = collection.products | sort_by: 'best-selling' | limit: section.settings.products_to_show
      assign columns_desktop = 2
      if section.settings.products_to_show >= 3
        assign columns_desktop = 3
      endif
      if section.settings.products_to_show >= 4
        assign columns_desktop = 4
      endif
      assign columns_mobile = 2
    -%}

    <slider-component class="slider-mobile-gutter page-width">
      <ul
        id="Slider-{{ section.id }}"
        data-id="{{ section.id }}"
        class="grid product-grid contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ columns_desktop }}-col-desktop grid--{{ columns_mobile }}-col-tablet-down"
        role="list"
      >
        {%- if products.size > 0 -%}
          {%- for product in products -%}
            <li
              id="Slide-{{ section.id }}-{{ forloop.index }}"
              class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >

              {% render 'card-product',
                card_product: product,
                media_aspect_ratio: section.settings.image_ratio,
                image_shape: section.settings.image_shape,
                show_secondary_image: section.settings.show_secondary_image,
                show_vendor: section.settings.show_vendor,
                show_rating: section.settings.show_rating,
                show_quick_add: section.settings.enable_quick_add,
                bestseller_badge: section.settings.show_bestseller_badge,
                section_id: section.id
              %}
            </li>
          {%- endfor -%}
        {%- else -%}
          {%- for i in (1..section.settings.products_to_show) -%}
            <li
              class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >

              {%- assign placeholder_image = 'product-apparel-' | append: forloop.index -%}
              {% render 'card-product', 
                show_vendor: section.settings.show_vendor, 
                media_aspect_ratio: section.settings.image_ratio,
                image_shape: section.settings.image_shape,
                show_rating: section.settings.show_rating,
                show_quick_add: section.settings.enable_quick_add,
                bestseller_badge: section.settings.show_bestseller_badge,
                section_id: section.id,
                placeholder_image: placeholder_image 
              %}
            </li>
          {%- endfor -%}
        {%- endif -%}
      </ul>
    </slider-component>
    
    {%- if section.settings.show_view_all and section.settings.collection != blank -%}
      <div class="center collection__view-all{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <a
          href="{{ collections[section.settings.collection].url }}"
          class="{% if section.settings.view_all_style == 'link' %}link underlined-link{% else %}button{% if section.settings.view_all_style == 'outline' %} button--outline{% endif %}{% endif %}"
          aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: collections[section.settings.collection].title }}"
        >
          {{ section.settings.view_all_text | escape }}
        </a>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Best Selling Products",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Best Sellers",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Select Collection"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 2,
      "label": "Number of products to show"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "arch",
          "label": "Arch"
        },
        {
          "value": "blob",
          "label": "Blob"
        },
        {
          "value": "chevron",
          "label": "Chevron"
        }
      ],
      "default": "default",
      "label": "Image shape"
    },
    {
      "type": "checkbox",
      "id": "show_bestseller_badge",
      "default": true,
      "label": "Show bestseller badge"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        }
      ],
      "default": "h1",
      "label": "Heading size"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Text alignment"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to image"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "square",
          "label": "Square"
        }
      ],
      "default": "adapt",
      "label": "Image ratio"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "Show second image on hover"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "Show product vendor"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "Show product rating"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "Enable quick add button"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": false,
      "label": "Show 'View all' button"
    },
    {
      "type": "text",
      "id": "view_all_text",
      "default": "View all",
      "label": "View all text"
    },
    {
      "type": "select",
      "id": "view_all_style",
      "options": [
        {
          "value": "link",
          "label": "Link"
        },
        {
          "value": "outline",
          "label": "Outline button"
        },
        {
          "value": "solid",
          "label": "Solid button"
        }
      ],
      "default": "solid",
      "label": "View all style"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "scheme-1",
          "label": "Scheme 1"
        },
        {
          "value": "scheme-2",
          "label": "Scheme 2"
        },
        {
          "value": "scheme-3",
          "label": "Scheme 3"
        },
        {
          "value": "scheme-4",
          "label": "Scheme 4"
        },
        {
          "value": "scheme-5",
          "label": "Scheme 5"
        }
      ],
      "default": "scheme-1",
      "label": "Color scheme"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Best Selling Products",
      "settings": {
        "title": "Best Sellers",
        "products_to_show": 2,
        "show_bestseller_badge": true,
        "text_alignment": "center"
      }
    }
  ]
}
{% endschema %}
